.u-mb0 { margin-bottom: 0 !important; }

.u-mt { margin-top: $default-spacing-unit; }

.u-mb { margin-bottom: $default-spacing-unit; }
.u-mb--half { margin-bottom: $default-spacing-unit / 2; }
.u-mb--third { margin-bottom: $default-spacing-unit / 3; }

.u-mr0 { margin-right: 0 !important; }
.u-mr { margin-right: $default-spacing-unit; }
.u-mr--half { margin-right: $default-spacing-unit / 2; }

.u-ml--half { margin-left: $default-spacing-unit / 2; }
.u-ml--third { margin-left: $default-spacing-unit / 3; }